


    {% extends 'store/base.html' %}
    {% load static %}
    {% block content %}






    <!-- Blog section -->
    <section class="gi-blog py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px] relative">
            <div class="flex flex-wrap w-full">
                <div class="min-[992px]:w-[66.66%] w-full min-[992px]:order-[6] min-[768px]:order-[-1] px-[12px]">
                    <!-- Blog content Start -->
                    <div class="gi-blogs-content">
                        <div class="gi-blogs-inner">
                            <div class="flex flex-wrap mx-[-12px]">
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/1.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">June 30,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Organic</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Marketing Guide: 5 Steps to Success.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/2.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">April 02,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fruits</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Best way to solve business deal issue.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/3.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">Mar 09,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 customer service stats know in 2019.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/4.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">January 25,2022 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fastfood</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Business ideas to grow your business.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/5.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">December 10,2021 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Fruits</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Marketing Guide: 5 Steps to Success.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="min-[768px]:w-[50%] w-full px-[12px]">
                                    <div class="gi-blog-item">
                                        <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
                                            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
                                                <a href="#"><img src="{% static "assets/img/blog/6.jpg" %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[0] w-full h-full"></a>
                                            </figure>
                                            <div class="detail">
                                                <label class="mt-[20px] inline-block text-[13px] text-[#999]">August 08,2021 - <a href="#" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></label>
                                                <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 customer service stats know in 2019.</a></h3>
                                                <p class="text-length mb-[16px] text-[14px] text-[#777]">"Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry.</p>
                                                <div class="more-info">
                                                    <a href="blog-detail-left-sidebar.html" class="text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="gicon gi-angle-double-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination Start -->
                        <div class="gi-pro-pagination pt-[15px] flex justify-between items-center border-t-[1px] border-solid border-[#eee] max-[575px]:flex-col">
                            <span class="text-[14px] text-[#777] max-[575px]:mb-[10px]">Showing 1-6 of 20 items</span>
                            <ul class="gi-pro-pagination-inner">
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff] active" href="#">1</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">2</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">3</a>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <span class="w-[20px] text-[#777] block text-center">...</span>
                                </li>
                                <li class="inline-block float-left mr-[5px]">
                                    <a class="w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">8</a>
                                </li>
                                <li class="inline-block float-left">
                                    <a class="next w-[32px] h-[32px] p-[0] font-light text-[#777] leading-[32px] bg-[#eee] flex text-center align-top text-[16px] justify-center items-center rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]" href="#">Next <i class="gicon gi-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Pagination End -->
                    </div>
                    <!--Blog content End -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="min-[992px]:w-[33.33%] w-full min-[992px]:order-[-1] min-[768px]:order-[6] max-[991px]:mt-[30px] gi-blogs-sidebar gi-blogs-leftside px-[12px]">
                    <div class="gi-blog-search h-[50px] w-full mb-[30px] p-[0] outline-[0] border-[1px] border-solid border-[#eee] text-[#4b5966] relative rounded-[5px] overflow-hidden">
                        <form class="gi-blog-search-form flex items-center bg-[#fff]" action="#">
                            <input class="form-control block w-full min-h-[48px] h-[48px] px-[20px] text-[16px] font-normal leading-[1] text-[#777] bg-transparent border-[0] outline-[0] tracking-[0]" placeholder="Search Our Blog" type="text">
                            <button type="submit" class="submit relative h-[48px] w-[48px] text-[#4b5966]"><i class="gicon gi-search"></i></button>
                        </form>
                    </div>
                    <div class="gi-blog-sidebar-wrap p-[30px] border-[1px] border-solid border-[#eee] rounded-[5px]">
                        <!-- Sidebar Recent Blog Block -->
                        <div class="gi-sidebar-block mb-[30px] gi-sidebar-recent-blog">
                            <div class="gi-sb-title border-b-[2px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title w-full flex justify-between relative leading-[1.2] mb-[6px] font-Poppins text-[18px] font-medium">Recent Articles</h3>
                            </div>
                            <div class="gi-blog-block-content gi-sidebar-dropdown">
                                <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                    <div class="gi-sidebar-block-img mr-[15px] max-[1199px]:mb-[15px] max-[991px]:mb-[0]">
                                        <img src="{% static "assets/img/blog/6.jpg" %}" alt="blog imag" class="w-[100px] rounded-[5px]">
                                    </div>
                                    <div class="gi-sidebar-block-detial">
                                        <h5 class="gi-blog-title leading-[1.2] mb-[6px]"><a href="blog-detail-left-sidebar.html" class="text-[#777] text-[16px] tracking-[0] leading-[22px] font-semibold capitalize">The best fashion influencers.</a></h5>
                                        <div class="gi-blog-date mb-[10px] text-[14px] text-[#999] leading-[1] tracking-[0]">February 10, 2021-2022</div>
                                        <a href="{% static "blog-left-sidebar.html" %}" class="text-[14px] text-[#5caf90] w-full leading-[20px] font-normal capitalize cursor-pointer flex justify-between">- Organic</a>
                                    </div>
                                </div>
                                <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                    <div class="gi-sidebar-block-img mr-[15px] max-[1199px]:mb-[15px] max-[991px]:mb-[0]">
                                        <img src="{% static "assets/img/blog/5.jpg" %}" alt="blog imag" class="w-[100px] rounded-[5px]">
                                    </div>
                                    <div class="gi-sidebar-block-detial">
                                        <h5 class="gi-blog-title leading-[1.2] mb-[6px]"><a href="blog-detail-left-sidebar.html" class="text-[#777] text-[16px] tracking-[0] leading-[22px] font-semibold capitalize">Vogue Shopping Weekend.</a></h5>
                                        <div class="gi-blog-date mb-[10px] text-[14px] text-[#999] leading-[1] tracking-[0]">March 14, 2021-2022</div>
                                        <a href="blog-left-sidebar.html" class="text-[14px] text-[#5caf90] w-full leading-[20px] font-normal capitalize cursor-pointer flex justify-between">- Fruits</a>
                                    </div>
                                </div>
                                <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                    <div class="gi-sidebar-block-img mr-[15px] max-[1199px]:mb-[15px] max-[991px]:mb-[0]">
                                        <img src="{% static "assets/img/blog/4.jpg" %}" alt="blog imag" class="w-[100px] rounded-[5px]">
                                    </div>
                                    <div class="gi-sidebar-block-detial">
                                        <h5 class="gi-blog-title leading-[1.2] mb-[6px]"><a href="blog-detail-left-sidebar.html" class="text-[#777] text-[16px] tracking-[0] leading-[22px] font-semibold capitalize">Fashion Market Reveals Her Jacket.</a></h5>
                                        <div class="gi-blog-date mb-[10px] text-[14px] text-[#999] leading-[1] tracking-[0]">June 09, 2021-2022</div>
                                        <a href="blog-left-sidebar.html" class="text-[14px] text-[#5caf90] w-full leading-[20px] font-normal capitalize cursor-pointer flex justify-between">- Vegetables</a>
                                    </div>
                                </div>
                                <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                    <div class="gi-sidebar-block-img mr-[15px] max-[1199px]:mb-[15px] max-[991px]:mb-[0]">
                                        <img src="{% static "assets/img/blog/3.jpg" %}" alt="blog imag" class="w-[100px] rounded-[5px]">
                                    </div>
                                    <div class="gi-sidebar-block-detial">
                                        <h5 class="gi-blog-title leading-[1.2] mb-[6px]"><a href="blog-detail-left-sidebar.html" class="text-[#777] text-[16px] tracking-[0] leading-[22px] font-semibold capitalize">Summer Trending Fashion Market.</a></h5>
                                        <div class="gi-blog-date mb-[10px] text-[14px] text-[#999] leading-[1] tracking-[0]">July 17, 2021-2022</div>
                                        <a href="blog-left-sidebar.html" class="text-[14px] text-[#5caf90] w-full leading-[20px] font-normal capitalize cursor-pointer flex justify-between">- Fastfood</a>
                                    </div>
                                </div>
                                <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                    <div class="gi-sidebar-block-img mr-[15px] max-[1199px]:mb-[15px] max-[991px]:mb-[0]">
                                        <img src="{% static "assets/img/blog/2.jpg" %}" alt="blog imag" class="w-[100px] rounded-[5px]">
                                    </div>
                                    <div class="gi-sidebar-block-detial">
                                        <h5 class="gi-blog-title leading-[1.2] mb-[6px]"><a href="blog-detail-left-sidebar.html" class="text-[#777] text-[16px] tracking-[0] leading-[22px] font-semibold capitalize">Winter 2021 Trending Fashion Market.</a></h5>
                                        <div class="gi-blog-date mb-[10px] text-[14px] text-[#999] leading-[1] tracking-[0]">August 02, 2021-2022</div>
                                        <a href="blog-left-sidebar.html" class="text-[14px] text-[#5caf90] w-full leading-[20px] font-normal capitalize cursor-pointer flex justify-between">- Vegetables</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Recent Blog Block -->
                        <!-- Sidebar Category Block -->
                        <div class="gi-sidebar-block">
                            <div class="gi-sb-title border-b-[2px] border-solid border-[#eee] pb-[15px]">
                                <h3 class="gi-sidebar-title w-full flex justify-between relative leading-[1.2] mb-[6px] font-Poppins text-[18px] font-medium">Categories</h3>
                            </div>
                            <div class="gi-blog-block-content gi-sidebar-dropdown">
                                <ul>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]" checked> 
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">Dairy & Milk<span title="Products" class="text-[#999] text-[13px]">- 68</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]"> 
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">Seafood<span title="Products" class="text-[#999] text-[13px]">- 58</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]"> 
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">Bakery<span title="Products" class="text-[#999] text-[13px]">- 84</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]">
                                             <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">cosmetics<span title="Products" class="text-[#999] text-[13px]">- 63</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]">
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">electrics<span title="Products" class="text-[#999] text-[13px]">- 75</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]">
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">phones<span title="Products" class="text-[#999] text-[13px]">- 26</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]">
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">Clothes<span title="Products" class="text-[#999] text-[13px]">- 39</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gi-sidebar-block-item py-[15px] border-b-[1px] border-solid border-[#eee] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row relative">
                                            <input type="checkbox" class="w-full h-[calc(100%-5px)] absolute opacity-[0] cursor-pointer z-[99] top-[50%] left-[0] translate-y-[-50%]"> 
                                            <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] leading-[20px] font-normal capitalize cursor-pointer flex justify-between">Watch<span title="Products" class="text-[#999] text-[13px]">- 48</span></a><span class="checked"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Category Block -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section End -->

    
    {% endblock content %}