{% extends 'store/base.html' %}
{% load static %}
{% block content %}









    <!-- Terms section -->
    <section class="gi-terms-conditions py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
            <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center items-center">
                <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]"><span class="text-[#5caf90]">Terms</span> & Condition</h2>
                <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">Browse The Collection of Top Products</p>
            </div>
            <div class="flex flex-wrap w-full">
                <div class="min-[992px]:w-[50%] w-full px-[12px]">
                    <div class="gi-common-wrapper p-[30px] border-[1px] border-solid border-[#eee] max-w-[1140px] my-[0] mx-auto bg-[#fff] rounded-[5px]">
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">Welcome to Grabit Store.</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">Grabit Websites</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">How browsing and vendor works?</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">Becoming an vendor</h5>
                                <p class="text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="min-[992px]:w-[50%] w-full px-[12px] max-[991px]:mt-[30px]">
                    <div class="gi-common-wrapper p-[30px] border-[1px] border-solid border-[#eee] max-w-[1140px] my-[0] mx-auto bg-[#fff] rounded-[5px]">
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">How browsing and vendor works?</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">Becoming an vendor</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.</p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">How browsing and vendor works?</h5>
                                <p class="mb-[30px] text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text.</b></p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="gi-cgi-block-inner">
                                <h5 class="gi-cgi-block-title mb-[10px] text-[18px] font-semibold text-[#4b5966] tracking-[0.01rem] leading-[1.2]">Becoming an vendor</h5>
                                <p class="text-[#777] text-[14px] font-normal leading-[28px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    <b class="font-medium text-[#4b5966]">Lorem Ipsum is simply dutmmy text</b> ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Terms section End -->

    
    {% endblock content %}