{% load static %}
<div class="w-full md:w-1/4 ">
    <div class="border border-slate-100 p-4 rounded shadow-xl">
        <div class="border-b-2 border-slate-100 pb-4">
            <div class="flex justify-center">
                <img src="{{ request.user.profile.image.url }}" alt="" srcset="" class="">
                {% comment %} <img src="{% static 'assets/img/vendor/3.jpg' %}" alt="" srcset="" class=""> {% endcomment %}
            </div>
            <p class="text-3xl font-bold text-center">{{ request.user.full_name|upper }} </p>
        </div>
        <div class="">
            <ul>
                <li class="text-xl font-semibold mb-3 border-b-2"><a href="{% url 'profile_dashboard' %}">Dashboard</a></li>
                <li class="text-xl font-semibold mb-3 border-b-2"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="text-xl font-semibold mb-3 border-b-2"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>